language: java
env:
  global:
    - DOCKER_BRANCH=${TRAVIS_PULL_REQUEST_BRANCH:-$TRAVIS_BRANCH}
    - DOCKER_BRANCH=${DOCKER_BRANCH//[\@\/]/-}
    - TESTS_TYPE=${TESTS_TYPE}
    - TEST_TAG=${TEST_TAG}
addons:
  browserstack:
    username:
      secure: FL6VmwGgfGMuC6Ic4B5N5QnCyVarDzr0RIVNLZznkbzcOV9YVC3mym/d0fpcArnM3LfYm3fJ0swX2RcX9hlBbIsVke4yu5MsN+VrfxI/NfHgv/+8dFqxNhIwNEOZYnH5bxiPrRKZjLT/JCqIN5NsB6hCPGLQUWQXHFN9PAGWqWPo1V/TjxfBdkvKEOUEQXVtUzNfYCatqirBIz8mkvAJr4iwkFOLBC0qGsljqQ33wWY0BlsmtgOpcGkkz6KRzapHz9uzWtuBiAyhegtm5p8SLWGDomKhSoCdkK3cW52PO1oCeAbHAef8QFyzfmdg5UMMjqhVpEDBKUOHxf9vc/r69xi+fbCRYhG0RPHVuYZHmq9l7D2/CuqfrUiY2kbqT07980OMDsKWIHbglLdH4+S72AdIc2a1NAGWloQiW92E3FhI4dnbDJheEi+p5QiClTrnwI9v0T5Fkk7mUcMgtbt2OL8YwCaVGpe/SQClcSAjqDqD+dd8Qf8FlaWR1jyaQ3lb1eZfIEs4ZFU7xFkbhA79d3DH00WEHrv0mNUnvHr2KFSypHnnFPUTELTehRBZWPA9JdId3L9j1qbqT9lF4g5f6NWMupz+kNRiQLlE2mDF0KfbIWxRBniGup0PBD7ilk4eGTY6AX82jgnjkARscr2ID9gWHEB2AszvZl2CMT06kXk=
    access_key:
      secure: hn/RkGxX34714hiHKc6Xx0vHoQcwMItCi6VYiijo5VSKzyxTyb+Mg3UJX51UE/6L/rPqAjooD/NvFjL3JxaFMLpI0B4XKO7rnb4e1mz15x8U9JuD8MBpH3t93v4ZeYuQxjcFf8Kf8ziW8jTTnFh+w/Xu9yUTNSIQGYMX4Hxw1+MHXBI1CdvleyyVW9r29lT5a7gAO/xWMkeeVnx+1Z3UlPPX3czCEvqC3uB1eXPt58tO203f7UJnyh5PYqYM8WaKMc6P6N6kpgvmxuqY2MiQVhj3HqXTWZmPkV8L8vwKoTZUHEvvp5Hb7xFy+UlrI3fQDSWyMHcvFsH79QMfqqJ3t5anqBUPK7nQqG4gl8SJeD15MDvLAMDjnkPGvLhYp1Uq2MlnlaSdRN+plbl4jUWSgfwiJoLKCrqxgaFmJQv8YsOATlktQktNM0W5diRfSPb99TLZkOV5atwnAtHp93zKRWKz21//+5pCwiHaub2Le9Me067AxQgR/3oqUi6FTXbo9WtVmFohqAv2YrdhCJN2gEged2VJ9TAVaOSKrrd1CeZQRT8J/Wy3T0G5sSCGk9O2/Rvss5W5oja7uu6RrK3Imsak1ipOxnh5wFAq+H/jvIkNWv25iD3r/aw+gBaXIdBWIdAs2piTYX4Tm4WMawnZXyeHqjoeSZx5FASHpAYD3E0=
    forcelocal: true
  hosts:
    - webservices.securetrading.net
    - merchant.example.com
    - thirdparty.example.com
services:
  - docker
before_script:
  - docker pull "securetrading1/js-payments-testing"
  - docker run -d -p 8443:8443 -it "securetrading1/js-payments-testing"
jobs:
  include:
    - stage: Build
      name: Docker build
      script:
        - docker build . --tag "securetrading1/js-payments-testing"
        - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
        - docker push "securetrading1/js-payments-testing"
    - stage: Tests
    - name: "Behavioural test: chrome 76, Windows 10"
      script:
        - mvn install -DLOCAL=true -Dos=Windows -Dos_version=10 -Dbrowser=chrome -Dbrowser_version=76.0 -Dresolution=1920x1080 -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: chrome 75, Windows 8.1"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Dos=Windows -Dos_version=8.1 -Dbrowser=chrome -Dbrowser_version=75.0 -Dresolution=1920x1080 -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: chrome 76, Windows 8"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Dos=Windows -Dos_version=8 -Dbrowser=chrome -Dbrowser_version=76.0 -Dresolution=1920x1080 -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: chrome 76, OS X Mojave"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Dos="OS X" -Dos_version=Mojave -Dbrowser=chrome -Dbrowser_version=76.0 -Dresolution=1920x1080 -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: chrome 75, OS X High Sierra"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Dos="OS X" -Dos_version="High Sierra" -Dbrowser=chrome -Dbrowser_version=75.0 -Dresolution=1920x1080 -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: chrome 76, OS X Sierra"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Dos="OS X" -Dos_version=Sierra -Dbrowser=chrome -Dbrowser_version=76.0 -Dresolution=1920x1080 -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: firefox 68, Windows 10"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Dos=Windows -Dos_version=10 -Dbrowser=Firefox -Dbrowser_version=68.0 -Dresolution=1920x1080 -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: firefox 67, Windows 8.1"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Dos=Windows -Dos_version=8.1 -Dbrowser=Firefox -Dbrowser_version=67.0 -Dresolution=1920x1080 -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: firefox 68, Windows 7"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Dos=Windows -Dos_version=7 -Dbrowser=Firefox -Dbrowser_version=68.0 -Dresolution=1920x1080 -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: firefox 68, OS X Mojave"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Dos="OS X" -Dos_version=Mojave -Dbrowser=Firefox -Dbrowser_version=68.0 -Dresolution=1920x1080 -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: firefox 67, OS X High Sierra"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Dos="OS X" -Dos_version="High Sierra" -Dbrowser=Firefox -Dbrowser_version=67.0 -Dresolution=1920x1080 -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: firefox 68, OS X Sierra"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Dos="OS X" -Dos_version=Sierra -Dbrowser=Firefox -Dbrowser_version=68.0 -Dresolution=1920x1080 -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: ie 11, Windows 10"
      script:
        - mvn install -DLOCAL=true -Dos=Windows -Dos_version=10 -Dbrowser=IE -Dbrowser_version=11.0 -Dresolution=1920x1080 -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: ie 10, Windows 8"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Dos=Windows -Dos_version=8 -Dbrowser=IE -Dbrowser_version=10.0 -Dresolution=1920x1080 -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: edge 18, Windows 10"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Dos=Windows -Dos_version=10 -Dbrowser=Edge -Dbrowser_version=18.0 -Dresolution=1920x1080 -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: edge 17, Windows 10"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Dos=Windows -Dos_version=10 -Dbrowser=Edge -Dbrowser_version=17.0 -Dresolution=1920x1080 -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: safari 12.1, OS X Mojave"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Dos="OS X" -Dos_version=Mojave -Dbrowser=Safari -Dbrowser_version=12.1 -Dresolution=1920x1080 -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: safari 11.1, OS X High Sierra"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Dos="OS X" -Dos_version="High Sierra" -Dbrowser=Safari -Dbrowser_version=11.1 -Dresolution=1920x1080 -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: safari 10.1, OS X Sierra"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Dos="OS X" -Dos_version=Sierra -Dbrowser=Safari -Dbrowser_version=10.1 -Dresolution=1920x1080 -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: Samsung Galaxy Note 9, Android 8.1"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Ddevice="Samsung Galaxy Note 9" -Dos_version=8.1 -Dreal_mobile=true -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: Samsung Galaxy S9, Android 8.0"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Ddevice="Samsung Galaxy S9" -Dos_version=8.0 -Dreal_mobile=true -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: Samsung Galaxy S9 Plus, Android 9.0"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Ddevice="Samsung Galaxy S9 Plus" -Dos_version=9.0 -Dreal_mobile=true -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: Samsung Galaxy S8, Android 7.0"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Ddevice="Samsung Galaxy S8" -Dos_version=7.0 -Dreal_mobile=true -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: Samsung Galaxy S7, Android 6.0"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Ddevice="Samsung Galaxy S7" -Dos_version=6.0 -Dreal_mobile=true -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: Samsung Galaxy Tab S3, Android 7.0"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Ddevice="Samsung Galaxy Tab S3" -Dos_version=7.0 -Dreal_mobile=true -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: Google Pixel 3, Android 9.0"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Ddevice="Google Pixel 3" -Dos_version=9.0 -Dreal_mobile=true -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: Google Pixel, Android 8.0"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Ddevice="Google Pixel" -Dos_version=8.0 -Dreal_mobile=true -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: Google Pixel, Android 7.1"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Ddevice="Google Pixel" -Dos_version=7.1 -Dreal_mobile=true -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: Google Nexus 6, Android 6.0"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Ddevice="Google Nexus 6" -Dos_version=6.0 -Dreal_mobile=true -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: Google Nexus 9, Android 5.1"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Ddevice="Google Nexus 9" -Dos_version=5.1 -Dreal_mobile=true -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: Google Nexus 5, Android 4.4"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Ddevice="Google Nexus 5" -Dos_version=4.4 -Dreal_mobile=true -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: iPhone XS, iOS 12.0"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Ddevice="iPhone XS" -Dos_version=12 -Dreal_mobile=true -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: iPhone XS Max, iOS 12.0"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Ddevice="iPhone XS Max" -Dos_version=12 -Dreal_mobile=true -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: iPhone XR, iOS 12.0"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Ddevice="iPhone XR" -Dos_version=12 -Dreal_mobile=true -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: iPhone X, iOS 11.0"
      script:
        - mvn install -DLOCAL=true -Ddevice="iPhone X" -Dos_version=11 -Dreal_mobile=true -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: iPhone 8, iOS 11.0"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Ddevice="iPhone 8" -Dos_version=11 -Dreal_mobile=true -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: iPhone SE, iOS 11.0"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Ddevice="iPhone SE" -Dos_version=11 -Dreal_mobile=true -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: iPad Pro 12.9 2018, iOS 12.0"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Ddevice="iPad Pro 12.9 2018" -Dos_version=12 -Dreal_mobile=true -Dcucumber.options="--tags $TEST_TAG"
    - name: "Behavioural test: iPad Mini 4, iOS 11.0"
      if: env(TESTS_TYPE)=fullTest
      script:
        - mvn install -DLOCAL=true -Ddevice="iPad Mini 4" -Dos_version=11 -Dreal_mobile=true -Dcucumber.options="--tags $TEST_TAG"